<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">
      All Listing
    </h1>
  </div>
</div>
<% @listings.each do |listing| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
      <%= link_to listing.name, user_listing_path(listing.user, listing), class: "btn btn-default btn-block" %>
    </div>
  </div>
<% end %>