console.log("hi");
$(".errors").remove();

<% @user.errors.messages.map do |key, value| %>
  console.log("<%= key %>")
  $("#user_<%= key %>").after("<span class='errors' style='color:red;'><%=key%> <%=value[0]%></span>");
<% end %>